<%- include('../partials/head.ejs') %>
		
<title>Posted Jobs | Random Jobs</title>

<%- include('../partials/navbar.ejs') %>



<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
    <div class="container">
        <div class="caption">
            <h2>Posted Jobs</h2>
        </div>
    </div>
</section>


<section class="profile-detail">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="basic-information">
                    <%for (const job of jobs){%>
                        <%console.log(jobs)%>
                <div class="col-md-9 col-sm-9"> </div>
                        <div class="col-md-9 col-sm-9"></div>
                            <div class="companies">
                                <div class="company-list">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="company-content">
                                                <div><h3><span>Name:</span><%= job.name %></h3></div>
                                                <div>
                                                    <ul class="information">
                                                        <li><span>Recruiter:</span><%= req.user.name %></li>
                                                        <li><span>Category:</span><%= job.category %></li>
                                                        <li><span>Type:</span><%= job.jobtype %></li>
                                                        <li><span>Description:</span><%= job.jobdescription %></li>
                                                        <li><span>Payment:</span><%= job.payment %></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    <%}%> 
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>	
